.info {
  width: 40%;
  margin: auto;
}

.notePara {
  margin: 20px;
  text-align: center;
  line-height: 1.9;
  position: relative;
  z-index: 1;
}

.notePara::after {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: linear-gradient(
    180deg,
    rgba(23, 79, 170, 0.76),
    rgba(35, 70, 151, 0.327),
    rgba(12, 36, 73, 0.119)
  );
  right: -150px;
  top: -20px;
  z-index: -1;
}

.note {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  z-index: 1;
}

.note::after {
  position: absolute;
  content: '';
  left: -80px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(
    180deg,
    rgba(168, 33, 168, 0.738),
    rgba(138, 35, 138, 0.251),
    rgba(59, 12, 59, 0.018)
  );
  z-index: -1;
}

.date {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  margin: 10px;
  color: #000;
  height: 100px;
  width: 90px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dateTime {
  font-size: 2.188rem;
  font-weight: bold;
}

.card span:nth-child(2) {
  font-size: 0.875rem;
}

.form {
  margin-top: 30px;
}

.formInput {
  display: flex;
  justify-content: space-around;
}

.form input[type='text'] {
  border: none;
  border-bottom: 2px solid rgba(186, 158, 186, 0.514);
  background-color: transparent;
  color: #ccc;
  margin: 5px 20px 5px 20px;
  text-indent: 5px;
  padding: 10px;
  font-size: 0.688rem;
  outline: none;
  width: 30%;
}

.submit {
  display: flex;
  position: relative;
  z-index: 1;
  margin-bottom: 150px;
}

.submit::after {
  position: absolute;
  content: '';
  width: 120px;
  height: 120px;
  border-radius: 70%;
  background-image: linear-gradient(
    180deg,
    rgba(128, 86, 14, 0.76),
    rgba(84, 61, 15, 0.447),
    rgba(73, 52, 12, 0.188)
  );
  z-index: -1;
  top: 100px;
}

.submit input[type='email'] {
  margin-top: 5px;
  height: 45px;
  text-indent: 30px;
  border: 1px solid rgb(84, 77, 77);
  border-radius: 30px;
  margin-top: 20px;
  width: 100%;
  outline: none;
}

.submit input[type='button'] {
  outline: none;
  position: relative;
  height: 45px;
  position: absolute;
  top: 21px;
  right: 1px;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: #00f;
  padding: 0 20px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: #fff;
}

.dateTimeLabel {
  font-size: 14px;
}

@media (max-width: 1200px) {
  .html {
    font-size: 0.875rem;
  }
  .info {
    width: 70%;
  }
}

@media (max-width: 740px) {
  .info {
    width: 80%;
  }
}

@media (max-width: 649px) {
  .info {
    width: 90%;
  }
}

@media (max-width: 579px) {
  .info {
    width: 95%;
  }
}
