.footer {
  position: relative;
  z-index: 1;
  /* background-color: rgba(255, 255, 255, 0.062); */
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .footer::after {
  position: absolute;
  top: 0;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: -1;
  filter: blur(40px);
} */

.socialMedia {
  display: flex;
  justify-content: center;
  clear: both;
}

.socialMedia svg {
  padding: 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.terms {
  display: flex;
  justify-content: center;
}

.terms p {
  margin: 10px;
  color: #9e9696;
  font-size: 13px;
}

.copyright p {
  color: #9e9696;
  text-align: center;
  font-size: 13px;
}
