.App {
  background-color: #000;
}

.Home {
  background-image: url('./images/homeBi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.About {
  /* background-image: url('./images/home.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgb(35, 2, 60);
}

.Github {
  width: 85%;
}
